import /init.cgroup.rc
import /init.tee.rc

on init
	setprop sys.usb.configfs 1
	setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 1
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
	symlink /system/etc/recovery.fstab /etc/recovery.fstab
	setprop crypto.ready 1
	start boot-hal-1-2
	
on fs
	write /proc/bootprof "INIT:fs"
	install_keyring
    start adbd

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_ufs_b

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    start mtk.plpath.utils.link

on post-fs-data
    chown system system /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/trigger
    chmod 0666 /sys/class/leds/vibrator/brightness
    chmod 0666 /sys/class/leds/vibrator/trigger

    write /sys/class/leds/vibrator/trigger "transient"

    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/duration
    chmod 0666 /sys/class/leds/vibrator/activate
    chmod 0666 /sys/class/leds/vibrator/duration

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0

service vendor.health-default /system/bin/hw/android.hardware.health-service.example_recovery
    class hal
    user root
    group root
    capabilities WAKE_ALARM BLOCK_SUSPEND
    file /dev/kmsg w
	seclabel u:r:recovery:s0
	override

service vendor.gatekeeper-default /vendor/bin/hw/android.hardware.gatekeeper-service.trustonic
	class early_hal
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    seclabel u:r:recovery:s0

service paytrigger_hal_service /vendor/bin/hw/vendor.transsion.hardware.security.paytrigger@1.0-service
	class hal
	user root
	group root
	seclabel u:r:recovery:s0
	
service vendor.keymint-trustonic /vendor/bin/hw/android.hardware.security.keymint@3.0-service.trustonic
    class early_hal
	interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user root
	group root
    seclabel u:r:recovery:s0
	
on property:ro.crypto.state=encrypted && property:ro.boot.dynamic_partitions=true
    start mobicore

on property:ro.vendor.trustonic.ready=true
    start vendor.gatekeeper-default
    start vendor.keymint-trustonic
	start paytrigger_hal_service

on property:servicemanager.ready=true
    setprop sys.boot_completed 1